:root {
    --primary: #697068;
    --green: #c9e265;
    --green-back: #c9e26540;
  }
  
  .bandeau{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img{
     height: 100px;
  }
  
  .logo-container a {
    font-size: 22px;
    text-decoration: none;
    color: var(--primary);
    font-family: "Lato", sans-serif;
  }
  .nav-list {
    list-style-type: none;
  }
  
  .nav-list .list-item {
    display: inline-flex;
    padding-right: 40px;
  }
  .nav-list .list-item a {
    text-decoration: none;
    color: var(--primary);
    font-size: 22px;
    font-family: "Inter", sans-serif;
  }
  
  .nav-list .list-item .button-connexion {
    background: var(--green);
    color: white;
    font-weight: bold;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
  }
  
  .nav-list .list-item .button-connexion:hover {
    opacity: 0.8;
  }
  
  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 440px;
  }
  
  .footer-section hr {
    margin-top: 50px;
    width: 90%;
  }
  
  .footer-section .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  
  .footer-section .footer-container .item-footer {
    font-family: "Crimson Text", serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
  }
  
  .footer-section .footer-container .item-footer:hover {
    opacity: 0.8;
  }
  
  .list_container a:hover{
  opacity: 0.8;
  }