* {
    font-family: sans-serif;
}

.bandeau {
    display: flex;
    align-items: center;
    gap: 50px;
}

.bandeau > div, .accueil {
    font-size: large;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.accueil {
    text-decoration: none;
    color: black;
}

.logo {
    height: 100px;
    width: 100px;
}

.chambres-dispo {
    margin-left: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.title {
    font-size: 35px;
}

.profile {
    height: 50px;
    width: 50px;
}

.index-chambres {
    display: flex;
    height: 300px;
}

.choix-etages {
    display : flex;
    flex-direction: column;
    width: 10%;
    justify-content: space-around;
    align-items: center;
}

.choix-etages > div {
    background-color: rgb(222, 237, 199);
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
}

.choix-etages > div:hover {
    cursor: pointer;
}

.liste-chambres {
    width: 90%;
}

.liste-chambres > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

#liste-1etage {
    display: flex;
}

#liste-2etage {
    display: none;
}

#liste-3etage {
    display: none;
}

#liste-4etage {
    display: none;
}

div[class^="chambre0"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.chambre-label {
    background-color: rgb(222, 237, 199);
    padding: 3px 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}