:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

body {
  margin: 0;
}

.form-container {
  margin: 0 auto;
  width: 90%;
}

.title {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
  grid-template-areas: ". ." ". ." ". ." ". .";
}

.bio > .input {
  display: block;
  height: calc(100% - 25px);
  resize: none;
}

.field > .input {
  margin-top: 5px;
}

.input,
.btn {
  display: block;
  padding: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

@media (max-width: 900px) {
  .form,
  footer {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
