:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 100px;
}

.logo-container a {
  font-size: 22px;
  text-decoration: none;
  color: var(--primary);
  font-family: "Lato", sans-serif;
}
.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-flex;
  padding-right: 40px;
}
.nav-list .list-item a {
  text-decoration: none;
  color: var(--primary);
  font-size: 22px;
  font-family: "Inter", sans-serif;
}

.nav-list .list-item .button-connexion {
  background: var(--green);
  color: white;
  font-weight: bold;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.nav-list .list-item .button-connexion:hover {
  opacity: 0.8;
}

.btn_retour a {
  text-decoration: none;
  color: var(--primary);
  font-size: 22px;
  font-family: "Inter", sans-serif;
  background: var(--green);
  color: white;
  font-weight: bold;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  padding-left: 20px;
}
.btn_retour {
  padding-left: 50px;
  padding-top: 60px;
}
.btn_retour :hover {
  opacity: 0.8;
}
.main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_container .title_container h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.main_container .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_container .main .main_bloc {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
}
.main_container .main {
  width: 815px;
}
.main_container .main .main_bloc a {
  text-decoration: none;
  color: white;
}
.main_container .main #constante_vitale img {
  width: 200px;
  height: 200px;
  padding-top: 15px;
}
.main_container .main #rapport_medical img {
  width: 200px;
  height: 210px;
  padding-top: 5px;
}
.main_container .main .main_bloc .btn_constante_vitale {
  background-color: #c9e265;
  height: 35px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.main_container .main .main_bloc .btn_constante_vitale a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.main_container .main .main_bloc .btn_rapport_medical {
  background-color: #c9e265;
  height: 35px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.main_container .main .main_bloc .btn_rapport_medical a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main_container .main .main_bloc a:hover {
  opacity: 0.8;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.footer-section hr {
  margin-top: 50px;
  width: 90%;
}

.footer-section .footer-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.footer-section .footer-container .item-footer {
  font-family: "Crimson Text", serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.footer-section .footer-container .item-footer:hover {
  opacity: 0.8;
}

.list_container a:hover {
  opacity: 0.8;
}

.gcse-search {
  width: 500px;
}

.footer-section {
  position: absolute;
  bottom: 0%;
  right: 30%;
}

form {
  font-size: 20px;
  position: relative;
  left: 50%;
}

#input_ne,
#input_marque,
#input_modele,
#initials,
#top_domains,
#input_ddf,
#input_ddi,
#select_ie,
#input_ntr,
#input_edr {
  height: 25px;
  margin: 30px;
}

#div_ne {
  width: 800px;
  position: absolute;
  top: 0px;
  right: 83%;
}

#div_ie {
  width: 800px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.file {
  width: 94px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #c9e265;
  border: 1px solid #c9e265;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  font-size: 20px;
  margin: 23px;
  position: relative;
  top: 32px;
}
.file #input_choisis {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  font-size: 100px;
}
.file:hover {
  background: #c9e265;
  border-color: #c9e265;
  color: white;
  text-decoration: none;
}

#div_border {
  width: 70%;
  height: 60%;
  border-style: dashed;
  border-color: #c9e265;
  color: transparent;
}

#submit_soumettre {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  font-size: 25px;
  background-color: #c9e265;
  color: white;
  border: white;
  position: fixed;
  bottom: 7%;
  left: 43%;
}

#div_border {
  width: 80%;
  border-style: dashed;
  border-color: #c9e265;
  color: transparent;
  position: relative;
  left: 10%;
}
