:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
  --red: rgb(252, 50, 50);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.title-chambres {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-family: "Rambla", sans-serif;
  font-size: 80px;
}

.container {
  margin-bottom: 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container:empty {
  padding-bottom: 0;
  margin-bottom: 0;
}

.container .child {
  flex: 1 1 calc(100% / 5);
  /*Start Run Code Snippet output CSS*/
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  /*End Run Code Snippet output CSS*/
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}

.ok {
  background-color: var(--green);
}

.probleme {
  background-color: var(--red);
}
