:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
  --red: rgb(252, 50, 50);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.title-chambres {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-family: "Rambla", sans-serif;
  font-size: 80px;
}

.container {
  margin-bottom: 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container:empty {
  padding-bottom: 0;
  margin-bottom: 0;
}

.container .child {
  position: relative;
  display: inline-block;
  flex: 1 1 calc(100% / 5);
  /*Start Run Code Snippet output CSS*/
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  /*End Run Code Snippet output CSS*/
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.ok {
  background-color: var(--green);
}

.probleme {
  background-color: var(--red);
}

.container .child .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
}

.container .child:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 870px) {
  .title-chambres {
    font-size: 40px;
  }
}
