:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-family: "Rambla", sans-serif;
  font-size: 80px;
}

.description-faq {
  text-align: center;
  color: var(--primary);
  font-size: 24px;
  font-family: "Palanquin Dark", sans-serif;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.question-container {
  background-color: rgba(201, 226, 101, 0.25);
  border-radius: 8px;
  text-align: center;
  width: 50vw;
  font-family: "Inter", sans-serif;
  border: var(--primary) 2px solid;
}

.titre-question {
  text-decoration: underline;
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

.contenu-question {
  color: var(--primary);
  font-size: 15px;
}

.cgu-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .question .question-container {
    width: 80vw;
  }

  h1 {
    font-size: 40px;
  }
}
