:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-family: "Rambla", sans-serif;
  font-size: 80px;
}

.description-faq {
  text-align: center;
  color: var(--primary);
  font-size: 24px;
  font-family: "Palanquin Dark", sans-serif;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.question-container {
  width: 80%;
  border-radius: 8px;
}

summary {
  font-size: 20px;
  background-color: var(--green);
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.faq__content {
  background-color: white;
  padding-left: 40px;
}

details > summary:details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@media screen and (max-width: 750px) {
  .question .question-container {
    width: 80vw;
  }

  h1 {
    font-size: 40px;
  }
}

.cgu-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
