:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

.btn_retour a {
  text-decoration: none;
  color: var(--primary);
  font-size: 22px;
  font-family: "Inter", sans-serif;
  background: var(--green);
  color: white;
  font-weight: bold;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  padding-left: 20px;
}

.btn_retour {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
  margin-bottom: 50px;
}

.btn_retour :hover {
  opacity: 0.8;
}

.body_gestion {
  margin-left: 53px;
}

.body_gestion .list_patient {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: #d9d9d9;
  width: 95%;
  padding-inline-start: 10px;
  margin-bottom: 0px;
}

.body_gestion .list_patient .list_patient_attribut {
  padding-right: 50px;
}

.body_gestion .list_patient .list_patient_attribut p {
  font-size: 16px;
  font-family: "inter", sans-serif;
}

.body_gestion .case1 {
  width: 95.7%;
  background-color: #f0f0f0;
  height: 40px;
}

.body_gestion .case2 {
  width: 95.7%;
  background-color: #d9d9d9;
  height: 40px;
}

.btn_gestion_container .list_btn {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_gestion_container .list_btn .list_btn_att a {
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  background: #38d818;
  color: white;
  font-weight: bold;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.btn_gestion_container .list_btn .list_btn_att:hover {
  opacity: 0.8;
}

.btn_gestion_container .list_btn .list_btn_att {
  padding-right: 10px;
}

.list_container a:hover {
  opacity: 0.8;
}

.gestion_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gestion_container table {
  background-color: #d9d9d9;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 18px;
}
.gestion_container tr {
  text-align: center;
  border: solid 2px;
  height: 15px;
}
.gestion_container td {
  text-align: center;
  width: 150px;
}
.gestion_container #case_mail {
  width: 150px;
}
.gestion_container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.gestion_container .btn_container {
  background-color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border-radius: 8px;
}
.gestion_container .btn_container:hover {
  background-color: red;
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title_container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}
