:root {
  --primary: #697068;
  --green: #c9e265;
  --green-back: #c9e26540;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.mvc-test-title {
  text-align: center;
  color: red;
}
.mvc-test-content {
  text-align: center;
}

.main-title {
  margin-top: 100px;
  margin-bottom: 120px;
}

.main-title .main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-title .main-container .text-main {
  display: flex;
  flex-direction: column;
}

.main-title .main-container .text-main h1 {
  font-family: "Rambla", sans-serif;
  font-size: 100px;
  color: var(--green);
  text-transform: uppercase;
}

.main-title .main-container .text-main p {
  font-size: 36px;
  color: var(--primary);
  font-family: "Palanquin Dark", sans-serif;
  margin-top: -30px;
}

.main-title .main-container .image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title .main-container .image-title img {
  height: 400px;
}

.main-title .main-container .image-title a {
  width: 325px;
  height: 50px;
  background-color: var(--green);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-family: "Palanquin Dark", sans-serif;
}

.main-title .main-container .image-title a:hover {
  opacity: 0.8;
}

.text-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.text-title .text-container {
  width: 520px;
  text-align: center;
}

.text-title .text-container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  color: var(--primary);
  font-size: 48px;
}

.text-title .text-container p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.plus-section {
  background-color: var(--green-back);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.plus-section .plus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plus-section .plus-container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--primary);
  font-style: italic;
  font-size: 48px;
}

.plus-section .plus-container p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: var(--primary);
  max-width: 400px;
  text-align: center;
}

.plus-section .plus-container .button-plus-faq {
  width: 325px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: "Palanquin Dark", sans-serif;
}

.plus-section .plus-container .button-plus-faq:hover {
  opacity: 0.8;
}

@media screen and (max-width: 970px) {
  .main-title .main-container {
    flex-direction: column;
    margin-top: -80px;
  }

  .main-title .main-container .text-main h1 {
    text-align: center;
  }

  .main-title .main-container .text-main p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .main-title .main-container .text-main h1 {
    font-size: 50px;
  }

  .main-title .main-container .text-main p {
    font-size: 20px;
  }

  .main-title .main-container .image-title img {
    height: 300px;
  }

  .text-title .text-container {
    width: 70vw;
  }

  .text-title .text-container h1 {
    font-size: 24px;
  }

  .text-title .text-container p {
    font-size: 15px;
  }

  .plus-section .plus-container h1 {
    font-size: 28px;
  }

  .plus-section .plus-container p {
    font-size: 15px;
  }
}

.snackbar-container {
  display: flex;
  justify-content: center;
}

#snackbar {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
  margin-left: 15px;
  width: 275px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
